* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
    font-size: 50%;
    background-color: rgb(158, 117, 117);
}

.stayles {

    background-color: #fbeee0;
    border: 2px solid #422800;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    font-weight: 600;
    font-size: 190%;
    padding: 0px;
    line-height: 50px;
    touch-action: manipulation;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 45vh;
    width: 45vw; */
    padding: 15px
}


.calculator {
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 95vh;
    border-radius: 30px;
}



.calculator-display {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 13px 15px;
    width: 97%;
    overflow: auto;
    border-radius: 50px;
    margin: 20px 8px;
    height: 12%;

}

.calculator-keypad {
    display: flex;
    width: 100%;
}

.keypad-number {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



.keypad-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    cursor: pointer;
    border-radius: 50px;
    height: 30%;
    margin: 12px 15px;
}


.keypad-button :hover {
    filter: brightness(80%);
    transition: .25s;
}

.keypad-button :active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.keypad-button.color {
    background-color: rgba(81, 84, 226, 0.356);
}

.keypad-button.large {
    width: 44%;
}

@media (max-width: 2100px) {
    .keypad-button {
        width: 22%;
        height: 20%;
        margin: 6px 7px;
        padding: 0 25px;
    }

    .calculator-display {
        text-align: end;
        width: 95%;
        height: 18%;
        margin-top: 2px;
        font-size: 200%;

    }

    .calculator {
        width: 60vh;
        height: 75vh;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-top: 12vh;
    }
}

@media (max-width: 1520px) {
    .keypad-button {
        width: 17%;
        height: 15%;
        margin: 6px 12px;
        padding: 0 25px;
    }

    .calculator-display {
        text-align: end;
        width: 95%;
        height: 18%;
        margin-top: 5px;
        font-size: 200%;

    }

    .calculator {
        width: 60vh;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-top: 10vh;
    }

}

/*
@media (max-width: 780px) {
    .keypad-button {
        width: 75px;
        height: 75px;
        margin: 15px 14px;
        padding: 0 25px;
        font-size: 150%;

    }

    .calculator {
        width: 60vh;
        height: 90vh;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-top: 5vh;
    }

}*/

@media (max-width: 513px) {
    .keypad-button {
        width: 75px;
        height: 75px;
        margin: 8px 10px;
        padding: 0 25px;
    }

    .calculator-display {
        width: 95%;
        height: 15%;
        justify-content: end;
        align-items: center;
    }

    .calculator {
        width: 100%;
        height: 74%;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-top: 10vh;
    }

}

@media (max-width: 412px) {
    .keypad-button {
        width: 75px;
        height: 75px;
        margin: 15px 7px;
        padding: 0 25px;
    }

    .calculator-display {
        width: 38vh;
        height: 10vh;
        justify-content: center;
        align-items: center;
    }

    .calculator {
        width: 45vh;
        height: 74vh;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-top: 10vh;
    }

}

@media (max-width: 380px) {
    .keypad-button {
        width: 65px;
        height: 65px;
        margin: 4px 8px;
        padding: 0 25px;
    }

    .calculator {
        width: 78vh;
        height: 70vh;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-top: 10vh;
    }

}

@media (max-width: 290px) {
    .keypad-button {
        width: 45px;
        height: 45px;
        margin: 10px 3px;
        padding: 0 25px;
    }

    .calculator {
        width: 100vw;
        height: 65vh;
        justify-content: end;
        align-items: center;
    }
}